*{
	margin: 0;
	padding: 0;


}
body{
	/*Para fazer degradê so funcona com background-image*/
	background-image: linear-gradient(to left,#363636,#A9A9A9);
	
	/*Para centralizar nossa div area-do-player*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;

	}

.area-player{
	max-width: 350px;
	border: 3px solid whitesmoke;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: orange;
	

	}

.imagem img{
	max-width: 350px;
	border-top-left-radius: 22px;
	border-top-right-radius: 22px;
	border-bottom: 2px solid whitesmoke;
	}

.informacoes-artista{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 6px;

}

.duracao{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
	margin: 3px;
}

.barra{
	width: 300px;
	height: 6px;
	border: 1px solid #eee;
	border-radius: 5px;
	display: flex;
	align-items: center;

}

progress{
	height: 6px;
	width: 0%;
	
}



.tempo{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	
	width: 300px;
	margin: 3px auto;


}


.controles{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin: 0 auto;
	width: 150px;
  }

 .item{
 	font-size: 25px;
 	margin: 10px;
 }

#pause{
	display: none;
}
